body {
    background-color: #1d1d1d;
    color: #fff;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.btn:hover {
    color: white;
}
.choice {
    margin: 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice-text {
    font-size: 2.5rem;
}
.btns-choice {
    margin-bottom: 60px;
}
.btn-choice {
    color:#ffd79c;
}
.btn-choice:hover {
    color:#ffd79c;
    border: 1px solid #ffd79c;
}
.btn-outline-choice {
    color: #fff;
}
.btn-outline-choice:hover {
    border: 1px solid #ffd79c;
}
.btn-outline-choice-filter {
    border-color:#ffd79c;
    color: #fff;
    margin-left: 3px;
}
.modal {
    color: #000;
}

.btn-main {
    background-color:#ffd79c;
    color: #000;

}

.main-title {
    font-size: 30px;
    margin: 50px 0;
}

.poster-img {
    width: 290px;
    height: auto;
    background-size: cover; 
    background-color: #ffd79c;
}
.poster {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
.info-list {
    margin-bottom: 40px;
}
.info-main-title {
    padding: 5px 0;
    font-size: 24px;
}
.info-main-sub {
    padding: 5px 0;
    font-size: 18px;
}
.info-main-sub-mod {
margin-bottom: 15px;
}

.info-main {
    display: flex;
}

.info-block {
    margin-left: 10%;
}
.info-block-poster {
    display: flex;
    justify-content: flex-end;
}
.description {
    padding: 10% 0;
    font-size: 18px;
}

.info-main-eng {
    color: #aaaaaa;
    font-style: italic;
    margin-bottom: 15px;
}


.trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}
.trailer-tagline {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-style: italic;
    font-size: 20px;
}
iframe {
    width: 100%;
    height: 570px;
}
.frames {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;

}

.frames-item > img {
    width: 90%;
}

.frames-item {
    background-repeat: no-repeat;
    background-position: 0 0;
}
.more-title {
    font-weight: 600;
    margin-bottom: 5px;
    color: #797979;
    font-size: 18px;
}
.more-sub {
    margin-bottom: 25px;
    color: #cfcfcf;

}
.more-block {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
}

.modal-item {
    margin-bottom: 25px;
}

.modal-item-title {
    margin-bottom: 5px;
    font-weight: 600;
}
select { 
    cursor: pointer;
    font-weight: 500; 
    color: #444; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;

     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    } 
    
.disable {
    display: none;
}





/* Footer */

.black {
    background-color: black;
}

@media (max-width: 992px) {
    iframe {
        height: 350px;
    }
}
@media (max-width: 768px) {

    .poster-img {
        width: 220px;
    }

}
@media (max-width: 528px) {
    iframe {
        height: 235px;
    }
    .poster-img {
        width: 150px;
    }
    .info-main-sub {
        font-size: 16px;
    }
}